* {
    margin: 0;
	padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 100%;
}

body{
	font-size: 1rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #e6e6e6;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.8em;
}

h3{
	background: #CCC;
	color: #747175;
	padding: 5px;
	text-align: center;
}

a{
	text-decoration: none;
}

.titulo-portal{
	background-color: #0d26329f;
}

.titulo-portal, .menu{
	color: #FFF;
	padding: 1rem;
}

.topo{
	background-color: #0d2632e5;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
}

.menu a{
	padding: 0.7rem 0.9rem;
	color: #FFF;
}

.menu a:hover{
	color: #0d2632e5;
	background: #FFF
}

.search-container{
	width: 40rem;
	display: block;
	margin: 1.2rem auto 1.2rem auto;
}
  
input#search-bar{
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 1px solid #D0CFCE;
	outline: none;
}
  
.search-icon{
	position: relative;
	float: right;
	width: 75px;
	height: 75px;
	top: -62px;
	right: -45px;
}

.conteudo-principal{
	width: 100%;
	position: absolute;
}

.disposicao-noticias{
	width: 100%;
	display: flex;
	position: relative;
	margin: 0 auto 2.3rem auto;
	flex-direction: row;
    justify-content: center;
}
.disposicao-noticias a{
	color: black;
}

.disposicao-noticias a:hover{
	color: #8f6427;
}

.noticia-linha1{
	width: 31%;
	height: 35rem;
	padding: 1rem 1.2rem 1rem 1.2rem;
	margin: auto;
	background: #FFF;
}

.noticia-linha1 img{
	width: 100%;
}

.noticia-linha2{
	width: 28%;
	height: 35rem;
	padding: 1rem 1.2rem 1rem 1.2rem;
	margin: auto;
	background: #FFF;
}

.noticia-linha2 img{
	width: 100%;
}
.data-noticia{
	font-size: 0.8rem;
	padding-top: 0.7rem;
	padding-bottom: 1rem;
	display: block;
}

.texto-noticia{
	padding-top: 0.5rem;
	text-align: justify;
}

.conteudo-lateral{
	width: 22%;
	float: right;
	padding: 1.2rem;
	height: auto;
	background: #FFF;
	position: flex;
	margin: 0 auto;
	text-align: justify;
}

.conteudo-lateral a{
	color: #0d2632e5;
	font-size: 1.3rem;
}

.secao{
	font-size: 1.5rem;
	text-align: center;
	padding: 1.5px;
	margin-bottom: 1rem;
	border-style: inset;
	border-color: #747175;
}

.noticia-recente{
	font-size: 1.0em;
}

.noticia-recente hr{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.noticia-lateral{
	padding: 10px;
	padding-top: 1rem;
	margin-bottom: 10px;
	background: #FFF
}

.rodape{
	width: 100%;
	position: absolute;
	background: #CCC;

	padding: 1.5rem 0 1.5rem 0;
	text-align: center;
}

.publicacao-noticia{
	background-color: #fff;
	width: 76%;
	margin-left: 12%;
	margin-right: 12%;
	height: 100%;
	padding: 2% 5% 2% 2%;
}

.publicacao-noticia img{
	width: 70%;
	height: auto;
}

.publicacao-noticia p{
	text-align: justify;
	font-size: 1.3rem;
	line-height: 2rem;
}

.ccheader {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.ccheader h1 {
  margin: 0;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 1.3;
}
.ccheader {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.ccheader h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
}

/* Form CSS*/
.ccform {
   margin: 0 auto;
    width: 800px;
}
.ccfield-prepend{
  margin-bottom:10px;
  width:100%;
}

.ccform-addon{
  color:#8f6427; 
  float:left;
  padding:8px;
  width:8%;
  background:#FFFFFF;
  text-align:center;  
}

.ccformfield {
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
}

.ccformfield {
  font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
  display:block;
  border:none;
  background:#8f6427;
  color:#FFFFFF;
  padding:12px 25px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
}
.ccbtn:hover{
  background:#d8850e;

}
.credit {
  color:#fff;
  width: 800px;
  clear:both;
  margin:0 auto;
  line-height:25px;
  padding: 25px 50px; 
}
.credit em{
margin-right:5px;
}
.credit a {
color: #0d2ed5;
font-weight: bold;
text-decoration: none;
}